<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Awesome Website</title>
    </head>
    <body>
                
        <p>Site is under maintenance, we'll be right back...</p>

        
    </body>
</html>